@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bungee+Tint&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

.pokemon-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.controls{
    margin-bottom: 3%;
}
.controls button{
    width: 70px;
    height: 40px;
    align-items: center;
    font-family: Boldonse;
    font-size: 0.7rem;
    border-radius: 10px;
    font-weight: 300;
}
.controls button:hover{
    box-shadow: 0 0 15px black;
}