@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bungee+Tint&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
.app-wrapper{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-image: url('C:\Users\adita\Desktop\PokeDex\src\assets\Background4.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: cover;
    width: 100%;
    min-height: 100vh;
}
.app-wrapper h1{
    font-family: Bungee Tint;
    font-size: 3rem;
    letter-spacing: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(30px);
}

@media screen and (max-width:400px){
    .app-wrapper h1{
        font-size: 2.6rem;
    }
}

@media screen and (max-width:350px){
    .app-wrapper h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:300px){
    .app-wrapper h1{
        font-size: 2.3rem;
    }
}